<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>

    <body>
        <div th:replace="partial/user/user-move"></div>
        <h1>유저페이지: <span th:text="${user.name}">username</span>
            <span th:if="${#authentication.name} neq ${user.loginId}">
                <form th:action="@{/{loginId}/follow(loginId=${user.loginId})}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="submit" value="FOLLOW" />
                </form>
                <form th:action="@{/{loginId}/unfollow(loginId=${user.loginId})}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="submit" value="UNFOLLOW" />
                </form>
            </span>
        </h1>
        <h2>메시지</h2>
        <div id="timeline-messages">
            <div th:each="message : ${timelineMessages.messages}">
                <div th:replace="partial/message/message">message!</div>
            </div>
        </div>
        <div th:if="${timelineMessages.messages}" id="load-timeline-messages">
            <form id="load-timeline-messages-form" th:action="@{/{loginId}/messages/load(loginId=${user.loginId})}" method="get">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:name="lastTimelineMessageId" th:value="${timelineMessages.lastTimelineMessageId}"/>
                <input type="submit" value="LOAD MORE"/>
            </form>
        </div>
    </body>

    <script type="text/javascript">
        $("#load-timeline-messages-form").submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: $("#load-timeline-messages-form").attr("action"),
                method: $("#load-timeline-messages-form").attr("method"),
                data: {
                    lastTimelineMessageId: $("#load-timeline-messages-form > [name=lastTimelineMessageId]").val()
                }
            }).done(function(timelineMessages) {
                $.each(timelineMessages.messages, function(index, value) {
                    $("#timeline-messages").append("<p>이름: " + value.author.name + "<br/>내용: " + value.contents + "<br/>" + value.createdDate + "</p>");
                });
                if (timelineMessages.lastTimelineMessageId === null) {
                    $("#load-timeline-messages").remove();
                } else {
                    $("#load-timeline-messages-form > [name=lastTimelineMessageId]").val(timelineMessages.lastTimelineMessageId);
                }
            }).fail(function() {
                alert("Fail to load messages");
            });
        });
    </script>
</html>